﻿  <div class="container">
      <div class="container" >
          <div class="row"> 
             <h1>Download File</h1>
              <!--Show Files Manager View -->
              <div class="col-md-4" file-Download-Directive></div>  
          </div>
      </div> 
  </div>
 