﻿<div class="panel panel-default boxShadow" ng-controller="priceListUploadCtrl">
    <div class="panel-heading">
        <B>{{ 'DataUploadForm' | translate }}</B>
       
    </div>
    <div class="panel-body">
        <form id="dataUploaderForm" name="dataUploaderForm" role="form" ng-submit="saveDataUploader(dataUploaderForm, dataUploader)" novalidate>

            <!--BUYER-->
            <div class="form-group">
                <label for="dataUploadReceiver" class="control-label required">
                    {{ 'DataPostReceiver' | translate }}
                </label>
                <div class="input-group">
                    <input type="hidden" name="dataUploadReceiverValue" class="form-control" ng-model="dataUploader.buyer" ng-init="init()"/>
                    <div class="btn-group dropdown ">
                        <button type="button" id="dataUploadReceiver" name="dataUploadReceiver" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="!loggedIn" >
                            {{selectedBuyer.buyer.Email}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="buyer in buyers">
                                <a ng-click="dataUploader.buyer = buyer.Email; selectedBuyer.buyer = buyer; setSelectedBuyer(buyer)">{{buyer.Email}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> 
 
            <!--DATA TYPE-->
            <div class="form-group">
                <label for="dataType" class="control-label required">
                    {{ 'DataUploadeDataType' | translate }}
                </label>
                <div class="input-group">
                    <input type="hidden" name="priceListTypeValue" class="form-control" ng-model="dataUploader.dataType" />
                    <div class="btn-group dropdown ">
                        <button type="button" id="dataType" name="dataType" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="!loggedIn" >
                            {{selectedDataType.dataType.Type}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="dataType in dataTypes">
                                <a ng-click="dataUploader.dataType = dataType.Type; selectedDataType.dataType = dataType">{{dataType.Type}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Bug - dropdown must be clicked AND then sends value - MORE TESTING!! works with selected index 3?--> 

            <!--PRICE LIST TYPE-->
            <div class="form-group">
                <label for="priceListType" class="control-label required">
                    {{ 'DataUploadePriceListType' | translate }}
                </label>
                <div class="input-group">
                    <input type="hidden" name="priceListTypeValue" class="form-control" ng-model="dataUploader.priceListType" />
                    <div class="btn-group dropdown ">
                        <button type="button" id="priceListType" name="priceListType" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="!loggedIn" >
                            {{selectedPriceListType.priceListType.Type}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="priceListType in priceListTypes">
                                <a ng-click="dataUploader.priceListType = priceListType.Type; selectedPriceListType.priceListType = priceListType; setSelectedPriceListType(priceListType);">{{priceListType.Type}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Bug - dropdown must be clicked AND then sends value - MORE TESTING!! works with selected index 3?-->
             

            <!--STARTDATE-->
            <div class="form-group" ng-class="{'has-error': dataUploaderFieldHasError(dataUploaderForm.startDate)}">
                <label for="startDate" class="control-label">{{ 'DataUploaderStartDate' | translate }}</label>
                <div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="startDate_dropDownButton" role="button" data-toggle="dropdown" data-target="#" ng-disabled="!loggedIn" >
                            <div class="input-group">
                                <input id="startDate" name="startDate" type="text" class="form-control" placeholder="{{ 'DataUploaderStartDatePlaceholder' | translate }}"
                                       bo-date-input="date" ng-model="dataUploader.startDate" required ng-disabled="!loggedIn"  />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker id="dtpStartDate" ng-model="dataUploader.startDate" data-datetimepicker-config="{ dropdownSelector: '#startDate_dropDownButton',startView:'day', minView:'day' }" ng-disabled="!loggedIn" />
                        </ul>
                    </div>
                    <p ng-show="dataUploaderFieldHasError(dataUploaderForm.startDate) && dataUploaderForm.startDate.$error.required" class="help-block">The start date is required.</p>
                </div>
            </div>

            <!--ENDDATE-->
            <div class="form-group" ng-class="{'has-error': dataUploaderFieldHasError(dataUploaderForm.endDate)}">
                <label for="endDate" class="control-label">{{ 'DataUploaderEndDate' | translate }}</label>
                <div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="endDate_dropDownButton" role="button" data-toggle="dropdown" data-target="#" ng-disabled="!loggedIn" >
                            <div class="input-group">
                                <input id="endDate" name="endDate" type="text" class="form-control" placeholder="{{ 'DataUploaderEndDatePlaceholder' | translate }}"
                                       bo-date-input="date" ng-model="dataUploader.endDate" required  ng-disabled="!loggedIn" />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker id="dtpEndDate" ng-model="dataUploader.endDate" data-datetimepicker-config="{ dropdownSelector: '#endDate_dropDownButton', startView:'day', minView:'day' }" ng-disabled="!loggedIn" />
                        </ul>
                    </div>
                    <p ng-show="dataUploaderFieldHasError(dataUploaderForm.endDate) && dataUploaderForm.endDate.$error.required" class="help-block">The end date is required.</p>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': dataUploaderFieldHasError(dataUploaderForm.subject)}">
                <label for="subject">{{ 'DataPostSubject' | translate }}</label>
                <input type="text" class="form-control" id="subject" name="subject" placeholder="{{ 'DataPostSubject' | translate }}" ng-model="dataUploader.subject" maxlength="100" ng-maxlength="100" ng-required="true" ng-disabled="!loggedIn" >
                <p ng-show="dataUploaderFieldHasError(dataUploaderForm.subject) && dataUploaderForm.subject.$error.required " class="help-block">{{ 'DataUploaderListNameError' | translate }}</p>
            </div> 

            <!--<div class="form-group">
                <div class="fileinput fileinput-new" data-provides="fileinput" ng-disabled="!loggedIn">
                    <span class="btn btn-default btn-file" ng-disabled="!loggedIn" ><span>{{ 'FileInput' | translate }}</span><input type="file" ng-disabled="!loggedIn" ng-file-model="excelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" /></span>
                    <span class="fileinput-filename"></span><span class="fileinput-new">{{ 'FileInputInfo' | translate }}</span>
                </div>
            </div>--> 

            <div id="pricelistupload" class="form-group" flow-init="flowConfig"  flow-name="uploader.flow" flow-file-success="fileSuccess($file,$message)">
                <div class="form-group">
                        <div class="fileinput fileinput-new"  ng-file-model="excelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" data-provides="fileinput" ng-disabled="!loggedIn">

                        <!--<button flow-btn>Add files</button>-->
                        <span class="btn btn-default btn-file"  flow-btn><span>{{ 'FileInput' | translate }}</span></span>

                        <!--<button ng-click="uploadFlow()">Upload</button>-->
                        <table>
                            <tbody ng-repeat="file in uploader.flow.files">
                                <tr><td>{{file.name}}: </td></tr>
                                <tr><td>{{uploader.flow.getSize()}}: </td></tr>
                                <tr>
                                    <td>
                                        <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                                 aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}">
                                            </div>
                                            <span class="sr-only ng-binding">1% Complete</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--<div class="fileinput fileinput-new" data-provides="fileinput" ng-disabled="!loggedIn">
                <span class="btn btn-default btn-file" ng-disabled="!loggedIn"><span>{{ 'FileInput' | translate }}</span><input type="file" ng-file-model="dataPost.file" ng-disabled="!loggedIn" /></span>
                <span class="fileinput-filename"></span><span class="fileinput-new">{{ 'FileInputInfo' | translate }}</span>
            </div>-->
                </div>
                <button type="submit" ng-disabled="dataUploaderForm.$invalid" class="btn btn-success">  <!--  ng-click="uploadFlow()" ng-disabled="dataPostForm.$invalid"--> {{ 'UploadData' | translate }} </button>
            </div> 
            <!--<button type="submit" ng-disabled="dataUploaderForm.$invalid" ng-click="submit()" class="btn btn-success">{{ 'UploadData' | translate }}</button>-->
             
            
        </form>



    </div>
</div>

