﻿<div  class="container" >
    <div class="row">
        <div class="col-md-12">
            <h3>{{ vm.title}}</h3> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-9"> 
            <ul class="list-group">
                <li class="list-group-item disabled">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">name</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">Message </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">created on</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">modified on</div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
                    </div>
                </li> 
                <li ng-repeat="file in vm.files" class="list-group-item" >
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-8 wraptext">{{file.FileName}}</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{file.Message}}</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{file.Created | date: short}}</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{file.Modified | date: short}}</div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                            <button type="button" ng-click="vm.showModal(file.Id)" class="btn btn-xs btn-danger"  >
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                            <button type="button" ng-click="vm.downloadFile()" class="btn btn-xs btn-success">
                                <span class="glyphicon glyphicon-download"></span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul> 
        </div>  
    </div> 
</div>