﻿<div class="col-md-12">
    <div class="row">
        <table ng-table="downloadPriceListPartial.tableParams" show-filter="true" class="table table-condensed table-bordered table-striped table-hover boxShadow">
            <tr ng-repeat="priceList in  $data"  >
               
                <td data-title="'Download'" >
                    <input type="checkbox" name="selected" ng-checked="downloadPriceListPartial.isSelected()"  />
                </td> 
                 <td data-title="'Status'" ng-click="downloadPriceListPartial.selectRow(priceList)" sortable="'status'" filter="{ Status : 'text'}"   >
                    <span ng-class="{'glyphicon glyphicon-ok' : priceList.Status === 'Approved',
                                      'glyphicon glyphicon-remove' : priceList.Status === 'Declined',
                                      'glyphicon glyphicon-wrench' : priceList.Status === 'Updated',
                                      'glyphicon glyphicon-paperclip' : priceList.Status === 'Draft'}" aria-hidden="true"></span> {{priceList.Status}}
                </td> 

                <td class="underline-on-hover" data-title="'Buyer Id'" ng-click="downloadPriceListPartial.selectRow(priceList)" sortable="'BuyerId'" filter="{ 'BuyerId': 'text' }">
                    {{priceList.BuyerId}}
                </td> 
                <td class="underline-on-hover" data-title="'Body'" ng-click="downloadPriceListPartial.selectRow(priceList)" sortable="'Body'" filter="{ 'Body': 'text' }">
                    {{priceList.Body}}
                </td> 
                <td class="underline-on-hover" data-title="'Description'" ng-click="downloadPriceListPartial.selectRow(priceList)"  sortable="'Description'" filter="{ 'Description': 'text' }">
                    {{priceList.Description}}
                </td> 
                <td class="underline-on-hover" data-title="'Created'" ng-click="downloadPriceListPartial.selectRow(priceList)" sortable="'Created'" filter="{ 'Created': 'text' }">
                    {{priceList.Created  | date:'dd.MM.yyyy'}}
                </td>
                <td class="underline-on-hover" data-title="'Size '" ng-click="downloadPriceListPartial.selectRow(priceList)"  sortable="'Size'" filter="{ 'Size': 'text' }">
                    {{priceList.Size}}
                </td>
                <td class="underline-on-hover" data-title="'File Name'" ng-click="downloadPriceListPartial.selectRow(priceList)"  sortable="'FileName'" filter="{ 'FileName': 'text' }">
                    {{priceList.FileName}}
                </td>
                <td class="underline-on-hover" data-title="'Start Date'"  ng-click="downloadPriceListPartial.selectRow(priceList)" sortable="'StartDate'">
                    {{priceList.StartDate | date:'dd.MM.yyyy'}}
                </td>
                <td class="underline-on-hover" data-title="'End Date'" ng-click="downloadPriceListPartial.selectRow(priceList)"  sortable="'EndDate'">
                    {{priceList.EndDate | date:'dd.MM.yyyy'}}
                </td>
            </tr>
        </table>

        <br> 
        <!--<button type="submit"  class="btn btn-success">Download</button>-->
    </div>
</div>