﻿dt{
    clear:left;
    float:left;
    padding-right:50px;
    width:200px;
}


.boxShadow { 
    box-shadow: 10px 10px 5px LightGrey    
}
 
.underline-on-hover:hover {
    text-decoration: underline;
}