﻿<div class="col-md-12" >
    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-default boxShadow">
                <div class="panel-heading" ng-init="downloadPriceListDetails.init()">Download Price List: <B> {{downloadPriceListDetails.priceList.listName}} </B></div>
                <div class="panel-body">

                    <section> 
                        <dl>  
                            <dt>File Name:</dt>
                            <dd><a download="{{downloadPriceListDetails.downloadName}}" href="{{ downloadPriceListDetails.url}}">{{downloadPriceListDetails.downloadName}}</a></dd>
                            <dt>Status:</dt>
                            <dd><span ng-class="{'glyphicon glyphicon-ok' : downloadPriceListDetails.priceList.Status === 'Approved',
                                      'glyphicon glyphicon-remove' : downloadPriceListDetails.priceList.Status === 'Declined',
                                      'glyphicon glyphicon-wrench' : downloadPriceListDetails.priceList.Status === 'Updated',
                                      'glyphicon glyphicon-paperclip' : downloadPriceListDetails.priceList.Status === 'Draft'}" aria-hidden="true"></span> {{downloadPriceListDetails.priceList.Status}}</dd>
                            <dt>Body:</dt>
                            <dd>{{downloadPriceListDetails.priceList.Body}}</dd>
                            <dt>Description:</dt>
                            <dd>{{downloadPriceListDetails.priceList.Description}}</dd>
                            <dt>Start Date:</dt>
                            <dd>{{downloadPriceListDetails.priceList.StartDate | date:'dd.MM.yyyy' }}</dd>
                            <dt>End Date:</dt>
                            <dd>{{downloadPriceListDetails.priceList.EndDate | date:'dd.MM.yyyy' }}</dd>
                        </dl>
                    </section>
                    <button type="submit"  class="btn btn-success" ng-click="downloadPriceListDetails.setPriceListStatusToApproved(downloadPriceListDetails.priceList.Id)">{{ 'Approve' | translate }}</button>
                    <button type="submit"  class="btn btn-danger"  ng-click="downloadPriceListDetails.setPriceListStatusToDeclined(downloadPriceListDetails.priceList.Id)">{{ 'Decline' | translate }}</button>
                    <button type="submit"  class="btn btn-warning"  ng-click="downloadPriceListDetails.setPriceListStatusToUpdated(downloadPriceListDetails.priceList.Id)">{{ 'Update' | translate }}</button>
                    <button type="submit" ng-click="downloadPriceListDetails.goHome()" class="btn btn-default">{{ 'Cancel' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id="excelGrid" ui-grid="downloadPriceListDetails.gridOptions" class="grid"></div> 
        </div>
    </div>

</div>