﻿
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as header" role="navigation">
    <div class="container">

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-show="header.isVisible()">
                    <a ui-sref="home">
                        <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span>   {{ 'Home' | translate }}
                    </a>
                </li>

                <li ng-show="header.isVisible()">
                    <a ui-sref="home.dataPort">
                        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> {{ 'DataPortOverview' | translate }}
                    </a>
                </li>

                <li ng-show="header.isVisible()">
                    <a ui-sref="home.files">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> {{ 'DataArchive' | translate }}
                    </a>
                </li>

                <li ng-show="header.isVisible()">
                    <a ui-sref="home.admin">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> {{ 'Admin' | translate }}
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" >
                <li>
                    <a id="translateButtonCZ" name="translateButtonCZ" ng-click="header.changeLanguage('cz')">
                        CZ
                    </a>
                </li>
                <li>
                    <a id="translateButtonEN" name="translateButtonEN" ng-click="header.changeLanguage('en')">
                        EN
                    </a>
                </li> 
                <li ng-show="header.isVisible()">
                    <a id="loginButton" name="loginButton" ng-click="header.logOut()">
                        <span class="glyphicon glyphicon-log-out"></span> {{ 'Logout' | translate }} {{header.loggedInUserName}}
                    </a>
                </li>
            </ul>

            <!--<ul class="nav navbar-nav navbar-right">
                
            </ul>-->
        </div>
    </div>
</nav>

<header class="jumbotron boxShadow">
    <div class="container">
        <div class="row row-header">
            <h3 class="col-xs-12 col-sm-8">   <span class="label label-danger"><B>Solution4Data</B></span></h3>
        </div>
    </div>
</header>
