﻿<div class="container" ng-controller="AdminController">
    
    <ul class="nav nav-tabs"  ng-init="tab = 1" >
        <li role="presentation" ng-class="{active:tab===1}"><a href ng-click="tab = 1">Supplier</a></li>
        <li role="presentation" ng-class="{active:tab===2}"><a href ng-click="tab = 2">Seller</a></li>
        <li role="presentation" ng-class="{active:tab===3}"><a href ng-click="tab = 3">Buyer</a></li>
    </ul>
 
    <br />

    <div ng-show="tab === 1">

        <div class="row">
            <div class="col-md-6">
                <table ng-table="tableParams" show-filter="true" class="table table-striped">


                    <tr ng-repeat="supplier in $data">
                        <td data-title="'Id'"  >
                            {{supplier.Name}}
                        </td>
                        <td data-title="'Name'"   >
                            {{supplier.Ico}}
                        </td>
                        <td data-title="'Ico'" >
                            {{supplier.Vat}}
                        </td>
                        <td data-title="'Vat'"  >
                            {{supplier.Street}}
                        </td>
                        <td data-title="'Street'" >
                            {{supplier.City}}
                        </td> 
                    </tr>

                    <!--<tr ng-repeat="supplier in $data">
                        <td data-title="'Id'" sortable="'id'">
                            {{supplier.id}}
                        </td>
                        <td data-title="'Name'" filter="{ 'Name': 'text' }" sortable="'Name'">
                            {{supplier.Name}}
                        </td>
                        <td data-title="'Ico'" sortable="'Ico'">
                            {{supplier.Ico}}
                        </td>
                        <td data-title="'Vat'" sortable="'Vat'">
                            {{supplier.Vat}}
                        </td>
                        <td data-title="'Street'" sortable="'Street'">
                            {{supplier.Street}}
                        </td>
                        <td data-title="'City'" sortable="'City'">
                            {{supplier.City}}
                        </td>
                        <td data-title="'PostCode'" sortable="'PostCode'">
                            {{supplier.PostCode}}
                        </td>
                    </tr>-->
                </table>
            </div>
            <div class="col-md-6">

                <div class="col-xs-12 col-sm-9">
                    <form class="form-horizontal" name="supplierForm" ng-submit="save(supplierForm, supplier)" role="form" novalidate>
                        <div class="form-group" >
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" ng-model="supplier.name" required> 
                            </div>
                        </div>
   

                        <div class="form-group">
                            <label for="ico" class="col-sm-2 control-label">ICO</label>
                            <div class="col-xs-5 col-sm-4 col-md-3">
                                <div class="input-group">
                                    <input type="text" id="ico" name="ico" class="form-control" placeholder="ICO" ng-model="supplier.ico">
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="vat" class="col-sm-2 control-label">VAT</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="vat" name="vat" placeholder="VAT"
                                       ng-model="supplier.vat" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="street" class="col-sm-2 control-label">Street</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="street" name="street" placeholder="Street"
                                       ng-model="supplier.street" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="city" class="col-sm-2 control-label">City</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="city" name="city" placeholder="City"
                                       ng-model="supplier.city" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="postcode" class="col-sm-2 control-label">VAT</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="postcode" name="postcode" placeholder="PostCode"
                                       ng-model="supplier.postCode" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success"> Insert Supplier </button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
            </div> 
      </div>
            <div ng-show="tab === 2">
                <p> SELLER</p>
            </div>
            <div ng-show="tab === 3">
                <p>BUYER </p>
            </div>

            <br />


        </div>

