﻿<div class="container" ng-controller="HomeController">
 
    
    <div class="row">

        <!--SEND FILE PARTIAL-->
        <div class="col-md-4" file-Upload-Directive></div>


        <!-- PLACEHOLDER -->
        <!--<div class="col-md-2"></div>-->

        <!--UPLOAD DATA PARTIAL-->
        <div class="col-md-4"  price-List-Upload-Directive></div>

        <div class="col-md-4">
            <div class="panel panel-default boxShadow" ng-show="!loggedIn">
                <div class="panel-heading">
                    <B>{{ 'LoginPanelHeading' | translate }}</B>
                </div>
                <div class="panel-body">

                    <form id="loginForm" name="loginForm" role="form" ng-submit="login(loginForm, login)" novalidate>

                        <div class="form-group" ng-class="{'has-error': loginFieldHasError(loginForm.inputEmail)}">
                            <label for="inputEmail">{{ 'LoginInputEmail' | translate }}</label>
                            <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="{{ 'LoginInputEmail' | translate }}" ng-model="login.inputEmail" maxlength="100" ng-maxlength="100" ng-required="true">
                            <p ng-show="loginFieldHasError(loginForm.inputEmail) && loginForm.inputEmail.$error.required " class="help-block">{{ 'LoginInputEmailError' | translate }}</p>
                        </div>

                        <div class="form-group" ng-class="{'has-error': loginFieldHasError(loginForm.inputPassword)}">
                            <label for="inputPassword">{{ 'LoginInputPassword' | translate }}</label>
                            <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="{{ 'LoginInputPassword' | translate }}" ng-model="login.inputPassword" ng-required="true">
                            <p ng-show="loginFieldHasError(loginForm.inputPassword) && loginForm.inputPassword.$error.required " class="help-block">{{ 'LoginInputPasswordError' | translate }}</p>
                        </div>

                        <div class="form-group">
                            <div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">{{ 'LoginRememberMe' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-success">{{ 'LoginLogMeIn' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="panel panel-default boxShadow" ng-show="loggedIn">
                <div class="panel-heading">


                    <B>{{ 'LoginWelcome' | translate }}: {{loggedInUserWelcome}}</B>
                </div>
                <div class="panel-body">
                    {{ 'UserNameWelcome' | translate }}: {{loggedInUserWelcome}}

                </div>
            </div>


            <button type="submit" ng-click="goToDownloads() " ng-disabled="!loggedIn" class="btn btn-danger">DATAPORT OVERVIEW</button>

            <!--<div id="grid1" ui-grid="gridOptions" class="grid"></div>-->
            <!--<a ng-href="{{ fileUrl }}" download="{{fileName}}">DOWNLOAD EXCEL</a>-->
        </div>

        <!-- PLACEHOLDER -->
        <!--<div class="col-md-2"></div>-->


    </div> 

  

</div>


